@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using AloniServices.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = " -_-_-_- ALONI API Help Page -_-_-_- ";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>توجه</h2>
            <p>
                هدر های زیر به صورت عمومی در فراخوانی تمامی سرویس ها ست شوند: <br> AcceptLanguage : fa,en,ar,tr,... <br> authorization : security token <br> appId : 1 = Marketer App , 2 = Customer App , 3 = portal <br> sessionId = session Id
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
